.container {
  box-sizing: border-box;
  width: 666px;
  overflow: auto;
  padding: 0 90px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 5px 8px 5px rgba(34, 60, 80, 0.29);
  -moz-box-shadow: 0px 5px 8px 5px rgba(34, 60, 80, 0.29);
  box-shadow: 0px 5px 8px 5px rgba(34, 60, 80, 0.29);
}

.body {
  font-family: "Roboto", Helvetica, sans-serif;
}

.company-name {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.address__info {
  margin: 0;
  font-size: 10px;
  line-height: 1;
  font-style: normal;
  letter-spacing: 0.3px;
  color: #acacac;
}

.title-main {
  margin: 0;
  font-size: 34px;
  line-height: 1;
  color: #283592;
  letter-spacing: 0.8px;
  font-weight: 400;
}

.data {
  font-size: 11px;
  line-height: 1.4;
  color: #e12187;
  letter-spacing: 0.3px;
}

.overview-title {
  margin: 0;
  font-size: 21px;
  line-height: 1;
  text-decoration: underline;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.overview-text,
.additional-text {
  margin-bottom: 15px;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.3px;
  word-spacing: -0.3px;
}

.overview-sub-title + .overview-text {
  font-style: italic;
}

.additional-text {
  text-align: right;
}

.additional-text:nth-child(2) {
  text-align: center;
}

.overview-subtitle + .overview-text {
  margin-bottom: 75px;
}

.overview-sub-title {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}

.overview-sub-title:first-child {
  font-style: italic;
}

.overview-subtitle {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.3px;
  color: #e01b84;
  font-weight: 700;
}

.title {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  margin: 25px 0 32px;
}

.overview-title,
.overview-sub-title,
.overview-subtitle,
.additional-title {
  margin-bottom: 12px;
}

.additional-title {
  text-align: right;
}

.overview,
.additional {
  margin-bottom: 25px;
}

.page-count {
  width: 100%;
  height: 1px;
  position: relative;
  counter-reset: page-count 1;
}

.page-count::before {
  counter-increment: page-count;
  content: counter(page-count);
  position: absolute;
  left: -10px;
  top: -10px;
  font-size: 12px;
  color: #e01b84;
}

.separator {
  box-sizing: border-box;
  width: calc(100% + 180px);
  margin-left: -90px;
  margin-top: 110px;
  margin-bottom: 50px;
  height: 20px;
  background-color: #283593;
  -webkit-box-shadow: 0px 14px 3px 0px rgba(34, 60, 80, 0.29);
  -moz-box-shadow: 0px 14px 3px 0px rgba(34, 60, 80, 0.29);
  box-shadow: 0px 14px 3px 0px rgba(34, 60, 80, 0.29);
}
